# 飞书配置
FEISHU_APP_ID = ""
FEISHU_APP_SECRET = ""
VERIFY_TOKEN = ""
ENCRYPT_KEY = ""
BOT_NAME = ""

# OpenAI
OPENAI_TOKEN = ""
# openai 地址, 一般不需要修改, 除非你有自己的反向代理。默认为：https://api.openai.com/v1
OPENAI_URL = ""

# 服务配置
# HTTP 监听端口
HTTP_PORT = ":8080"


# --- FOR Plugins ---

## Google Search
GOOGLE_ENGINE_ID = ""
GOOGLE_TOKEN = ""


# Stable Diffusion
# SD_ADDR = "127.0.0.1:19000"
SD_ADDR = ""
